[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
kivy = "*"
kivy-deps-sdl2 = {version="*", sys_platform = "== 'win32'"}
kivy-deps-glew = {version="*", sys_platform = "== 'win32'"}
requests = "*"
pyinstaller = "*"

[requires]
python_version = "3"

[scripts]
shinobiviewer = "python shinobiviewer.py"
build = "pyinstaller --noconfirm shinobiviewer.spec"
